<div class="add-game-container" data-cy="add-game-container">
  <form [formGroup]="addForm">
    <div class="row">
      <h4>
        <mat-icon>games</mat-icon> Add Game
      </h4>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" data-cy="name" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Platform</mat-label>
          <input matInput formControlName="platform" data-cy="platform" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Genre</mat-label>
          <input matInput formControlName="genre" data-cy="genre" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Progress</mat-label>
          <input matInput formControlName="progress" data-cy="progress" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="space" mat-stroked-button color="primary" size="small" data-cy="add-game-button"
          (click)="addGames()">
          Save
        </button>
        <button class="space" mat-stroked-button color="primary" size="small" data-cy="reset-game-button"
          (click)="addForm.reset()">
          Reset
        </button>
      </div>
    </div>
  </form>
</div>
